.btn {
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.grid-item {
  font-size: 13px;
  text-align: start;
}

.grid-button {
  display: flex;
  justify-content: end;
}
