doctype html
html
  head
    meta(charset='utf-8')
    title Sign in 
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400")
  body
    form.msform(role="" action="" method="")
      fieldset
        h2.msform__title Sign in 
        h3.msform__subtitle Login to operate with Firebase tools.
        input(type="text" name="token" placeholder="Email or user name")
        input(type="text" name="title"  id="title" placeholder="Password" require)
        br
        input.submit(type="submit" name="login" placeholder="Login") 