doctype html
html
  head
    meta(charset='utf-8')
    title Messaging 
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400")
  body
    form.msform(role="" action="" method="")
      fieldset
        h2.msform__title Login
        h3.msform__subtitle Login to operate about Firebase tools FCM and Remote Config for translations.
        input(type="text" name="token" placeholder="Add token device")
        input(type="text" name="title"  id="title" placeholder="Type your title" require)
        br
        input.submit(type="submit" name="submit" placeholder="Go") 
