doctype html
html
  head
    meta(charset='utf-8')
    title Messaging 
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400")
  body
    form(id="msform" role="form" action="/send-message-topic" method="POST")
      fieldset
        h2.fs-title Messaging
        h3.fs-subtitle Manage messaging campaigns with the new unified campaign experience.
        input(type="text" name="deviceToken")
        input(type="text" name="title"  id="title" placeholder="Type your title" required)
        textarea(type="text" name="body" id="message" cols="30", rows="10" placeholder="Type your message" required)
        input.submit(type="submit", name="submit", placeholder="Submit")
        br 
        a.router(href="/translations") To remote config, manage translations.
