doctype html
html
  head
    meta(charset='utf-8')
    title Translation
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/translations.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400")
  body
    form(id="msform" role="form" action="/publish-template" method="POST", enctype="multipart/form-data")
      fieldset
        h2.fs-title Translations 
        h3.fs-subtitle Manage translations with Firebase Remote Config.
        div.grid-container
          div.grid-item
            p Control versions 
          div.grid-button
            a.btn(href="/list-versions") 
          div.grid-item
            p Current version 
          div.grid-button
            a.btn(href="/download-template")
          div.grid-item(id="item-c")
            label(for="uploads") Upload file (JSON)
            input(type="file", name="publish", id="uploads", accept=".json" multiple)
        input.submit(type="submit", name="submit", placeholder="Submit")
        br
        a.router(href="/") To back, manage messaging.
